@charset "UTF-8";
@font-face {
  font-family: "serif-a-custom";
  font-weight: 400;
  src: url("/assets/fonts/SerifA-Custom-Regular.woff2") format("woff2");
  src: url("/assets/fonts/SerifA-Custom-Regular.woff") format("woff");
}
@font-face {
  font-family: "sans-d-custom";
  font-weight: 500;
  src: url("/assets/fonts/SansD-Custom-Regular.woff2") format("woff2");
  src: url("/assets/fonts/SansD-Custom-Regular.woff") format("woff");
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-style: normal;
  word-break: keep-all;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  vertical-align: baseline;
  background-color: transparent;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  display: block;
}

input:focus, textarea:focus {
  outline: none;
}

a, a:hover, a:visited {
  color: #000;
  cursor: pointer;
  user-select: none;
}

button {
  color: #000;
  cursor: pointer;
  user-select: none;
}

.win body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.2px;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

#container {
  width: 100%;
  min-height: 180vh;
}

#content {
  width: 100%;
  max-width: 980px;
  padding: 80px 40px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  #content {
    padding: 80px 24px;
  }
}

.body {
  margin-bottom: 40px;
}

.indent {
  text-indent: 10mm;
}

.colored .roman {
  color: #FF5729;
}
.colored .한글 {
  color: #007327;
}
.colored .한글괄호꺽쇠낫표 {
  color: #00DB4A;
}
.colored .숫자 {
  color: #008DE7;
}
.colored .대시,
.colored .콜론 {
  color: #F5B400;
}
.colored .꺽쇠,
.colored .낫표,
.colored .마침표따옴표 {
  color: #FF59E6;
}
.colored .낫표괄호 {
  color: #FFA6E3;
}

#body-A {
  font-family: serif-a-custom, quinn-text, sandoll-myeongjoneo1, serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.68;
}
@media (max-width: 820px) {
  #body-A {
    font-size: 16px;
  }
}

.A span {
  position: relative;
  line-height: 1;
}
.A .한글 {
  font-weight: 500;
  font-size: 94%;
  letter-spacing: 0.045em;
  bottom: 0.045em;
}
.A .한글괄호꺽쇠낫표 {
  font-weight: 500;
  font-size: 94%;
  letter-spacing: 0.02emem;
  bottom: 0.045em;
}
.A .숫자 {
  font-variant-numeric: lining-nums;
}
.A .콜론 {
  bottom: 0.12em;
}
.A .꺽쇠 {
  bottom: 0.09em;
}
.A .마침표따옴표 {
  margin-right: -0.08em;
}
.A .낫표괄호 {
  margin-right: -0.06em;
}

#body-B {
  font-family: kranto-display, noto-sans-cjk-kr, sans-serif;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 0.01em;
  line-height: 1.68;
}
@media (max-width: 820px) {
  #body-B {
    font-size: 16px;
  }
}

.B span {
  position: relative;
  line-height: 1;
}
.B .roman {
  font-size: 96%;
}
.B .한글,
.B .한글괄호꺽쇠낫표 {
  font-size: 90%;
  letter-spacing: 0.025em;
  bottom: 0.03em;
}
.B .숫자 {
  font-size: 96%;
  letter-spacing: 0.01em;
}
.B .대시,
.B .꺽쇠,
.B .콜론 {
  bottom: 0.12em;
}
.B .꺽쇠괄호 {
  margin-right: 0.02em;
}
.B .마침표따옴표 {
  margin-right: -0.2em;
}

.B .낫표 {
  color: #FFF;
}

#body-D {
  font-family: sans-d-custom, itc-american-typewriter-cond, neutronic-hangeul, sans-serif;
  font-weight: 500;
  font-size: 22px;
  word-spacing: 0.015em;
  line-height: 1.68;
}
@media (max-width: 820px) {
  #body-D {
    font-size: 16px;
  }
}

.D span {
  position: relative;
  line-height: 1;
}
.D .roman {
  font-size: 108%;
  letter-spacing: 0.02em;
}
.D .romanParenthesis {
  font-size: 108%;
  letter-spacing: -0.03em;
}
.D .숫자 {
  font-size: 102%;
  bottom: 0.02em;
}
.D .한글 {
  font-weight: 400;
  font-size: 88%;
  letter-spacing: 0.01em;
  bottom: 0.05em;
}
.D .한글괄호꺽쇠낫표 {
  font-weight: 400;
  font-size: 88%;
  letter-spacing: 0em;
  bottom: 0.075em;
}
.D .따옴표 {
  font-size: 102%;
  bottom: 0.07em;
}
.D .마침표따옴표 {
  margin-right: -0.12em;
}
.D .괄호 {
  font-size: 112%;
  bottom: 0.06em;
}
.D .꺽쇠괄호 {
  margin-right: 0.02em;
}
.D .대시 {
  bottom: 0.07em;
}
.D .콜론 {
  bottom: 0.08em;
}
.D .꺽쇠 {
  font-size: 112%;
  bottom: 0.055em;
}

.D .낫표 {
  color: #FFF;
}