@charset "UTF-8";
@font-face {
  font-family: "serif-a-custom";
  font-weight: 400;
  src: url("/assets/fonts/SerifA-Custom-Regular.woff2") format("woff2");
  src: url("/assets/fonts/SerifA-Custom-Regular.woff") format("woff");
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-style: normal;
  word-break: keep-all;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  vertical-align: baseline;
  background-color: transparent;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  display: block;
}

input:focus, textarea:focus {
  outline: none;
}

a, a:hover, a:visited {
  color: #000;
  cursor: pointer;
  user-select: none;
}

button {
  color: #000;
  cursor: pointer;
  user-select: none;
}

.win body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.2px;
}

#container {
  width: 100%;
}

#content {
  width: 100%;
  max-width: 1000px;
  padding: 40px;
  margin: 0 auto;
}

#body-A {
  font-family: serif-a-custom, quinn-text, sandoll-myeongjoneo1, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.68;
}

.indent {
  text-indent: 10mm;
}

.A span {
  position: relative;
  line-height: 1;
}
.A .한글 {
  font-weight: 500;
  font-size: 94%;
  letter-spacing: 0.045em;
  bottom: 0.045em;
}
.A .한글괄호꺽쇠낫표 {
  letter-spacing: 0.02emem;
}
.A .숫자 {
  font-variant-numeric: lining-nums;
}
.A .콜론 {
  bottom: 0.12em;
}
.A .꺾쇠 {
  bottom: 0.09em;
}
.A .마침표따옴표 {
  margin-right: -0.08em;
}
.A .낫표괄호 {
  margin-right: -0.06em;
}

.colored .A .roman {
  color: #FF5729;
}
.colored .A .한글 {
  color: #007327;
}
.colored .A .한글괄호꺽쇠낫표 {
  color: #00DB4A;
}
.colored .A .숫자 {
  color: #008DE7;
}
.colored .A .대시,
.colored .A .콜론 {
  color: #F5B400;
}
.colored .A .꺾쇠,
.colored .A .낫표,
.colored .A .마침표따옴표 {
  color: #FF59E6;
}
.colored .A .낫표괄호 {
  color: #FFA6E3;
}